/* BODY */
body{
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #ffffff;

    font-family: Arial, Helvetica, sans-serif;

    position: relative;

    overflow: hidden;
}

/* Formas decorativas */
body::before{
    content: "";

    position: absolute;

    width: 250px;
    height: 250px;

    background: rgba(0,0,255,0.1);

    border-radius: 50%;

    bottom: -100px;
    left: -100px;
}

body::after{
    content: "";

    position: absolute;

    width: 200px;
    height: 200px;

    background: rgba(0,0,255,0.1);

    top: -50px;
    right: -50px;

    transform: rotate(45deg);
}

/* LOGO */
.logo{
    position: absolute;

    top: 5%;
    left: 3%;

    width: 25%;
}

/* FIELDSET */
fieldset{
    width: 320px;

    padding: 35px;

    border: none;

    border-radius: 25px;

    background: #0026ff;

    color: white;

    box-shadow: 0 0 40px rgba(0,0,0,0.2);
}

/* TÍTULO */
h1{
    text-align: center;

    margin-bottom: 30px;
}

/* LABELS */
label{
    display: block;

    margin-top: 18px;
    margin-bottom: 8px;

    font-size: 18px;
}

/* INPUTS */
input{
    width: 100%;

    padding: 12px;

    border: none;

    border-radius: 20px;

    outline: none;

    font-size: 16px;

    box-sizing: border-box;
}

/* LINHA */
.linha{
    width: 100%;
    height: 2px;

    background: white;

    margin: 30px 0;
}

/* BOTÕES */
.botoes{
    display: flex;

    justify-content: center;

    gap: 15px;
}


/* BOTÃO GOOGLE */
.google{
    width: 60px;
    height: 60px;

    border-radius: 50%;

    border: none;

    background: white;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

/* IMAGEM GOOGLE */
.google img{
    width: 32px;
    height: 32px;

    object-fit: contain;
}


/* CADASTRAR */
.cadastro{
    padding: 15px 25px;

    border: none;

    border-radius: 30px;

    background: white;

    color: blue;

    font-size: 18px;

    font-weight: bold;

    cursor: pointer;
}

/* TEXTO FINAL */
p{
    text-align: center;

    margin-top: 20px;

    font-size: 13px;
}

a{
    color: white;

    text-decoration: none;

    font-weight: bold;
}